*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* Primary Colors */

    /* (main background) */
    --very-dark-blue: hsl(233, 47%, 7%);
    /* (card background) */
    --dark-desaturated-blue : hsl(244, 38%, 16%);
    /* (accent) */
    --soft-violet : hsl(277, 64%, 61%);

    /* Neutral Colors */

    /* (main heading, stats) */
    --my-white : hsl(0, 0%, 100%);
    /* (main paragraph) */
    --slightly-transparent-white : hsla(0, 0%, 100%, 0.75);
    /* (stat headings) */
    --slightly-transparent-white : hsla(0, 0%, 100%, 0.6);

    /*
    - font-family: "Inter", sans-serif;
    - Weights: 400, 700

    - font-family: "Lexend Deca", sans-serif;
    - Weights: 400
    */
}
::selection {
    background-color: var(--soft-violet);
    color: var(--slightly-transparent-white);
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    background-color: var(--very-dark-blue);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    max-width: 700px;
    border-radius: 5px;
    background-color: var(--dark-desaturated-blue);
    box-shadow: 0 5px 7px rgba(255, 255, 255, 0.1);
}
.image{
    display: none;
}
.info{
    padding: 40px;
}
.info p:first-of-type{
    font-size: 26px;
    color: var(--my-white);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
}
.info p:nth-of-type(2){
    font-size: 11px;
    line-height: 1.7;
    font-weight: 400;
    margin-bottom: 40px;
    font-family: "Lexend Deca", sans-serif;
    color: var(--slightly-transparent-white);
}
.info p:first-of-type span{
    color: var(--soft-violet);
}
.pic{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--soft-violet);
    background-blend-mode: multiply;
    background-image: url(images/image-header-desktop.jpg);
}
.nums{
    display: flex;
    justify-content: space-between;
}
.one,
.two,
.three{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    text-transform: uppercase;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: var(--slightly-transparent-white);
}
.one span,
.two span,
.three span{
    font-size: 18px;
    font-weight: 700;
    color: var(--my-white);
    font-family: "Inter", sans-serif;
    margin-bottom: 5px;
}
footer {
    padding: 10px;
    font-size: 14px;
    text-align: center;
    pointer-events: none;
    background-color: transparent;
    color: var(--slightly-transparent-white);
    font-family: "Karla", sans-serif;
}
footer span {
    font-weight: 700;
    color: var(--soft-violet);
}


@media (max-width: 768px) {
    body{
        height: 120vh;
    }
    .container{
        grid-template-columns: 1fr;
        max-width: 270px;
        text-align: center;
    }
    .image{
        position: relative;
        display: block;
        height: 200px;
        background-size:cover;
        background-repeat: no-repeat;
    }
    .image::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--soft-violet);
        opacity: 0.6;
        z-index: 1;
    }
    .image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 0;    }
    .pic{
        display: none;
    }
    .nums{
        flex-direction: column;
        align-items: center;
    }
    .one,
    .two,
    .three {
        align-items: center;
        margin: 10px;
    }
    .info{
        padding: 30px 20px;
    }
    .info p:first-of-type{
        font-size: 24px;
    }
    .info p:nth-of-type(2){
        font-size: 13px;
        margin-bottom: 20px;
    }
}